.table
{
    display: flex;
    flex-direction: column;

    width: 1116px;

    padding: 8px 12px;
}

.columns
{
    display: flex;
    align-items: flex-start;

    border-bottom: 1px solid rgba(28, 28, 28, 0.20);
}

.columns label
{
    color: rgba(28, 28, 28, 0.40);

    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.columns > div
{
    height: 37px;

    padding: 4px 16px 16px;
}

.name
{
    width: 336px;
}

.longData
{
    width: 160px;
}

.shortData
{
    width: 136px;
}

.date
{
    width: 156px;
}
