.toast
{
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding: 24px 32px;

    border-radius: 16px;
    border: 1px solid rgba(28, 28, 28, 0.10);

    background: #FFFFFF;
    box-shadow: 0 6px 24px 0 rgba(28, 28, 28, 0.04);

    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
}

.notion
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.message
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.state
{
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
}

.confirm
{
    color: rgba(28, 28, 28, 0.80);

    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.buttonGroup
{
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.button
{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 24px;
    border-radius: 8px;
    background: #1C1C1C;
}

.button[data-color="white"]
{
    background-color: #FFFFFF;
}

.button > label
{
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.button[data-color="white"] > label
{
    color: #000000;
}