.container
{
    display: flex;
    flex-direction: column;
    gap: 44px;

    padding: 36px 32px;
}

.title
{
    font-size: 18px;
    font-weight: 500;
    line-height: normal;

    padding: 4px 8px;
}

.submitContainer
{
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
}

.inputContainer
{
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
}

.submitButton
{
    display: inline-flex;
    justify-content: flex-end;
}

.statusContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    width: 900px;
}