.container
{
    display: flex;
    flex-direction: column;
    gap: 28px;

    padding: 24px;
    width: 900px;

    border-radius: 16px;
    background-color: rgba(33, 110, 134, 0.04);
}

.item
{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.label
{
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    padding: 4px 8px;
}

.select, .receiver, .address
{
    display: flex;
    padding: 16px 20px;
    align-items: center;

    height: 48px;

    border-radius: 12px;
    background-color: #FFFFFF;

    outline: 0;
    border: 0;
    resize: none;
}

.receiver
{
    width: 250px;
}

.address
{
    width: 574px;
}

.controller, .empty
{
    display: flex;
    align-items: flex-end;
    gap: 28px;
}

.imageContainer
{
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 290px;

    padding: 24px;

    border-radius: 16px;
    background-color: rgba(33, 110, 134, 0.04);
}

.selector
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 242px;
    height: 242px;

    border-radius: 16px;
    background-color: #FFFFFF;
}

.icon
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    z-index: 10;
}

.image
{
    width: 100%;
    height: 100%;

    border-radius: 16px;
    z-index: 1;

    object-fit: cover;
}

.header
{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
